html{
    background-color: skyblue;
}
#H1{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
}
#box{
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}
#box1{
    margin-left: 10%;
    margin-top: 10%;
}
#img{
    margin-left: 28%;
}
#p{
    text-align: center;
}